/* Center Piece*/
.centerpiece{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    z-index: 3;
}

.centerpiece h1{
    color: white;
    font-size: 33px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    letter-spacing: -2px;
}

.centerpiece p{
    margin-top: 10px;
    font-size: 20px;
    color: white;
    font-family: 'Lato', sans-serif;
    display: none
}

#title-rotate{
    color: white;
    font-size: 27px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    letter-spacing: -2px;
}

a.btn-custom{
    margin-top: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black;
    box-shadow: 0px 0px 4px black;
    transition: all 0.5s linear;
    width: 170px;
}

a.btn-custom:hover{
    cursor: pointer;
    color: #ffffff;
}

.project-btn{
    background-color: #c80a48;
}

.resume-btn{
    background-color: yellowgreen;
}

.centerpiece p.name{
    color: white;
    font-size: 45px;
    text-transform: uppercase;
}

.blink{
    animation: blink 1s linear infinite;
}

/*Center Piece Animations*/
@keyframes blink{
    from{opacity: 1;}
    to{opacity: 0;}
}

.v-align-transform{
    position: relative;
    transform: translate3d(0, -50%, 0);
    top: 40%;
    z-index: 3;
}

/*Center Piece Media Queries*/
@media screen and (min-width: 1200px){
    #title-rotate{
        font-size: 78px;
        letter-spacing: -4px;
    }

    .centerpiece h1{
        font-size: 66px;
        letter-spacing: -4px;
    }

    .centerpiece p{
        display: block;
    }
}

@media screen and (min-width: 680px) and (max-width: 1200px){
    #title-rotate{
        font-size: 50px;
        letter-spacing: -4px;
    }

    .centerpiece h1{
        font-size: 45px;
        padding-bottom: 10px;
        letter-spacing: -4px;
    }

    .centerpiece p{
        font-size: 17px;
        display: block;
    }
}

@media screen and (min-width: 580px) and (max-width: 680px){
    #title-rotate{
        font-size: 43px;
        letter-spacing: -4px;
    }

    .centerpiece h1{
        font-size: 37px;
        padding-bottom: 10px;
        letter-spacing: -4px;
    }

    .centerpiece p{
        display: block;
    }

}

@media screen and (min-width: 480px) and (max-width: 580px){
    #title-rotate{
        font-size: 33px;
        letter-spacing: -2px;
    }

    .centerpiece h1{
        font-size: 33px;
        padding-bottom: 15px;
        letter-spacing: -2px;
    }
}

@media screen and (max-width: 480px){
    .centerpiece h1{
        padding-bottom: 20px;
    }
}

